<div>
	<ion-view view-title="Beacons Visibles">
		<ion-content>
			<p>Ángulo: {{angulo	}}</p>
			<div class="list">
			  	<a class="item" ng-click = 'beaconSeleccionado(item.beacon)' ng-repeat="item in beacons">
				    <p> <strong>{{item.nombre}}</strong></p>
				    UUID: {{item.beacon.uuid}} </br>
				    major: {{item.beacon.major}}<br> 
					minor: {{item.beacon.minor}}<br>
					Distancia : {{item.beacon.accuracy}}m <br>
					Rssi: {{item.beacon.rssi}}
			  	</a>
			</div>
			<p>Posicion Actual: {{posicion}}</p>
			<a class="button button-block button-royal" ng-click = 'getPosicion()'>
				Ver posición
			</a>
	  	</ion-content>
	</ion-view>
</div>