<div>
	<ion-view view-title="Inicio">
		<ion-content class="padding">
				<a ng-href = "#/beacons" class="button button-block button-royal">
				  	Iniciar instalación de beacons
				</a>
				<a class="button button-block button-royal">
					Agregar beacon
				</a>
				<a  href="#/newLugar" class ="button button-block button-royal">
					Agregar lugar
				</a>
				<a href="#/cargando-nodos" class="button button-block button-royal">
					Agregar nodos
				</a>
	  	</ion-content>
	</ion-view>
</div>
